<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.uni.reman.persist.mysql.mapper.FeedbackMapper">

	<resultMap type="Feedback" id="FeedbackResultMap">
		<id property="id" column="ID" />
		<result property="date" column="Date" javaType="java.util.Date" jdbcType="DATE"/>
		<result property="otherComment" column="OtherComment"/>
		<result property="rating" column="Rating" javaType="FeedbackRating" jdbcType="INTEGER"
		typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
	</resultMap>


	<insert id="insertFeedback" parameterType="Feedback" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	INSERT INTO Feedback(Rating, Date, OtherComment)
		VALUES (#{rating.ratingValue}, #{date}, #{otherComment});
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

	<update id="updateFeedback" parameterType="Feedback">
		UPDATE Feedback SET Rating = #{rating.ratingValue},
		Date = #{date},
		OtherComment = #{otherComment} 
		WHERE ID = #{id};
	</update>

	<select id="getFeedback" parameterType="int" resultMap="FeedbackResultMap">
		SELECT * FROM Feedback WHERE id = #{id}; 
	</select>

	<select id="getAllFeedbacks" resultMap="FeedbackResultMap">
		SELECT * FROM Feedback;
	</select>

	<delete id="deleteFeedback">
		DELETE FROM Feedback where Feedback.id = #{id};
	</delete>
</mapper>