<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.uni.reman.persist.mysql.mapper.FoodMapper">

	<resultMap type="Food" id="FoodResultMap">
		<id property="id" column="ID" />
		<result property="name" column="Name" />
		<result property="foodType" column="FoodType" javaType="FoodType"
			jdbcType="INTEGER" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="price" column="Price" />
		<result property="currency" column="currency" javaType="CurrencyType"
			jdbcType="INTEGER" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="description" column="description" />
	</resultMap>
	
	<insert id="insertFood" parameterType="Food" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO Food(Name, FoodType, Price, currency, description) VALUES (#{name}, #{foodType}, #{price}, #{currency}, #{description});
		<selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
	</insert>

	<select id="getAllFood" resultMap="FoodResultMap">
		SELECT * FROM Food;
	</select>

	<select id="getFoodById" parameterType="int" resultType="Food" resultMap="FoodResultMap">
		SELECT * FROM Food WHERE id = #{id};
	</select>
	
	<select id="getFoodByName" parameterType="String" resultType="Food" resultMap="FoodResultMap">
		SELECT * FROM Food WHERE name = #{name};
	</select>
	
	<delete id="deleteFood" parameterType="int">
		delete from OrderedFood where foodId = #{id}; 
		delete from FoodSelling where foodId = #{id}; 
		delete from Food where ID = #{id}; 
	</delete>
	
	<update id="updateFood" parameterType="Food">
		update Food set 
			Name = #{name}, 
			FoodType = #{foodType}, 
			Price = #{price}, 
			currency = #{currency}, 
			description = #{description} 
		where ID = #{id};	
	</update>
</mapper>