<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.uni.reman.persist.mysql.mapper.OrderedFoodMapper">

	<resultMap type="OrderedFood" id="OrderedFoodResultMap">
		<result property="reservationId" column="reservationId" 
		javaType="int" jdbcType="INTEGER" />
		<result property="foodId" column="foodId" 
		javaType="int" jdbcType="INTEGER" />
	</resultMap>

	<insert id="insertOrderedFood" parameterType="OrderedFood" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
		INSERT INTO OrderedFood(id, reservationId, foodId)
			VALUES (#{id}, #{reservationId}, #{foodId});
		<selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
	</insert>
	
	<select id="getOrderedFoodsByReservation" parameterType="int" resultMap="OrderedFoodResultMap">
		SELECT * FROM OrderedFood WHERE reservationId = #{id};
	</select>
	
	<select id="getAllOrderedFoods" resultMap="OrderedFoodResultMap">
		SELECT * FROM OrderedFood;
	</select>

	<delete id="deleteOrderedFoodsByReservation" parameterType="int">
		DELETE FROM OrderedFood WHERE reservationId = #{id};
	</delete>
</mapper>