<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.uni.reman.persist.mysql.mapper.RestaurantMapper">

	<resultMap type="Restaurant" id="RestaurantResultMap">
		<id property="name" column="Name" javaType="java.lang.String"/>
		<result property="founding" column="Founding" javaType="java.util.Date"
			jdbcType="DATE" />
		<result property="type" column="Type" javaType="RestaurantType"
			jdbcType="INTEGER" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	</resultMap>

	<insert id="insertRestaurant" parameterType="Restaurant">
		INSERT INTO Restaurant(Name, Founding, Type)
		VALUES (#{name},#{founding},#{type.restaurantType});
	</insert>

	<update id="updateRestaurant" parameterType="Restaurant"  keyProperty="id"  keyColumn="id">
		UPDATE Restaurant SET Founding = #{founding}, Type = #{type.restaurantType} WHERE Name = #{name} ;
	</update>

	<select id="getRestaurant" parameterType="java.lang.String" resultMap="RestaurantResultMap">
		SELECT * FROM Restaurant WHERE Name = #{name};
	</select>

	<select id="getAllRestaurants" resultMap="RestaurantResultMap">
		SELECT * FROM Restaurant;
	</select>


	<delete id="deleteRestaurant">
		DELETE FROM Restaurant where Restaurant.Name = #{name};
	</delete>
</mapper>